<section class="homepage-clients">
  <h2>Open Banking with a Difference</h2>
  <p>
    Developers from all industries use our platform to build integrations and
    custom applications.
  </p>
  <div class="container">
    <div class="team-members">
      <div class="row">
        <div class="three columns">
          <div class="team-member">
            <div class="member-image">
              <img alt="azure logo" src="assets/images/azure.png" />
            </div>
            <div class="member-info">
              <h6 class="member-name">Azure Compute</h6>
              <p class="member-title">We proudly function with Azure Function Apps, and Azure Container Apps, compeletely natively.</p>
            </div>
          </div>
        </div>
        <div class="three columns">
          <div class="team-member">
            <div class="member-image">
              <img alt="aws logo" src="assets/images/aws.png" />
            </div>
            <div class="member-info">
              <h6 class="member-name">AWS</h6>
              <p class="member-title">AWS is a big partner for us, and we support various deployment technologies, including Serverless Fargate!</p>
            </div>
          </div>
        </div>
        <div class="three columns">
          <div class="team-member">
            <div class="member-image">
              <img alt="gcloud logo" src="assets/images/gcloud.png" />
            </div>
            <div class="member-info">
              <h6 class="member-name">Google Container Platform</h6>
              <p class="member-title">Kong works natively with Google Container Platform, designed to run entirely within it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
