{% layout = "layouts/_page.html" %}


{-content-}
  <div class="service-catalog">
    {(partials/service-catalog/specdetailheader.html, context)}

    <div class="container">
      <div class="row">
        <div class="three columns">
          {(partials/service-catalog/specdetailsidebar.html, context)}
        </div>
        <div class="dashboard">
          <h1>{{ page.spec_name }} API Documentation</h1>
          <p>Select a subject from the navigation bar for more information.</p>
        </div>
      </div>
    </div>
  </div>
{-content-}
